<% include ../partials/header %>
    
<div class="container">
    <div class="row">
         <h1 style="text-align: center; width: 100%; margin:25 0;">Add a comment to <%= campground.name %></h1>
        <div style="width: 30%; margin: 0 auto;">
           
            <form action="/campgrounds/<%= campground._id %>/comments" method="POST">
               <div class="form-group">
               <div class="form-group">
                <label for="comment">Comment:</label>   
                <textarea class="form-control" rows="5" name="comment[text]"></textarea>
               </div>
                <button class="btn btn-primary btn-block" type="submit" >Submit!!</button>
            </form>
        </div>
    </div>
</div>
<% include ../partials/footer %>